@model Web.Entidad.Models.Categorias

@{
    ViewBag.Title = "Edit";
}


 <style>
        #titulo {text-transform: uppercase;}
        .margin{margin-top:10px;}
        .panel-title-principal{background-color:#ebebeb;}
		.marginlg{margin-top:25px;}
    </style>
<div class="containe">
    <div class="row">
        <div class="col-xs-12">
            <h4>Home &raquo; Categorias &raquo; Editar</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-title-principal">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 pull-left margin">
                            <h2 id="titulo" class="pull-left ">EDITAR Categorias</h2>
                        </div>
                        <div class="col-md-6 col-xs-6 pull-right">
                            <a href="@Url.Action("Index", "Categorias")" class="btn btn-info pull-right margin" style="display:inline-block;">
                                <span class="icon icon-action-undo"></span>
                                Volver
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
		@Html.HiddenFor(model => model.categoriaId)

        <div class="form-group">
            @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
            <div class="col-md-8 col-sm-9">
                @Html.EditorFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 text-left">
                <input type="submit" value="Guardar" class="btn btn-info" />
            </div>
        </div>
    </div>
   </div>
   }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
