@model Web.Entidad.Models.Comandas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
        #titulo {text-transform: uppercase;}
        .margin{margin-top:10px;}
        .panel-title-principal{background-color:#ebebeb;}
        .marginlg{margin-top:25px;}
    </style>
<div class="containe">
    <div class="row">
        <div class="col-xs-12">
            <h4>Home &raquo; Comandas &raquo; Detalle</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-title-principal">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 pull-left margin">
                            <h2 id="titulo" class="pull-left ">DETALLE Comandas</h2>
                        </div>
                        <div class="col-md-6 col-xs-6 pull-right">
                            <a href="@Url.Action("Index", "Comandas")" class="btn btn-info pull-right margin" style="display:inline-block;">
                                <span class="icon icon-action-undo"></span>
                                Volver
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
  <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
        @*<div class="form-group">
            @Html.LabelFor(model => model.userId, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 margin" })
            <div class="col-md-8 col-sm-9 margin">
                @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 margin" })
            <div class="col-md-8 col-sm-9 margin">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.user, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 margin" })
            <div class="col-md-8 col-sm-9 margin">
                @Html.EditorFor(model => model.user, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>*@

<div class="form-group">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 text-left">
        @Html.ActionLink("Editar", "Edit", null, new { id = Model.comandasId }, new { @class = "btn btn-info marginlg" }) &nbsp;
    </div>
</div>
    
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-dark">
                <div class="panel-heading">Detalle Comidas</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr><th>Nombre</th><th>Cantidad</th><th>Precio</th></tr>
                        @foreach (var comida in Model.detalleComanda)
                        {
                            <tr><td>@comida.nombreComida</td><td></td><td></td></tr>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
