@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<style>
    .back {
  
        background-image: url('../../Content/Images/Sin-título-1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }
</style>

<div class="back">
    <div class="col-md-4 col-xs-2"></div>
    <div class="col-md-4 col-xs-8 centered" style="top:25%;background-color:white; border-top: 5px solid;">
        
      
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4 class="text-center">Ingrese Datos de usuario</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              
                    <div class="form-group">
                      
                        <div class="col-md-10 col-md-offset-1">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Usuario" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    
                        <div class="col-md-10 col-md-offset-1">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe,"Recordar?")
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Entrar" class="btn btn-default" />
                        </div>
                    </div>
                   
                }
        
        </div>
    <div class="col-md-4 col-xs-2"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}