@model IEnumerable<Web.Entidad.Models.Productos>
@using GridMvc.Html

@{
    //ViewBag.Title = "Index";
    var numeroFilas = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["rowGrid"]);
}

@{
    ViewBag.Title = "Index";
}

<h2>
    Index
    @Html.ActionLink("Nuevo", "Create",null, new  { @class = "btn btn-success btn-lg", @style = "float:right" })
</h2>
<hr />
<div class="row">
    <div class="col-lg-12">
        @Html.Grid(Model).Columns(columns =>
        {
      
            columns.Add(a => a.categoria.detalle).Titled("categoria").Filterable(true); //.RenderValueAs(d => (d.categoria.detalle == null ? "" : d.categoria.detalle)); //Put last method when value comes null.
                  
            columns.Add(a => a.detalle).Titled("detalle").Filterable(true); //.RenderValueAs(d => (d.detalle == null ? "" : d.detalle)); //Put last method when value comes null.
                  
            columns.Add(a => a.precio).Titled("precio").Filterable(true); //.RenderValueAs(d => (d.precio == null ? "" : d.precio)); //Put last method when value comes null.
                  
            columns.Add(a => a.hay).Titled("hay").Filterable(true); //.RenderValueAs(d => (d.hay == null ? "" : d.hay)); //Put last method when value comes null.
            
			columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Titled("DETALLE").RenderValueAs(d =>  @Html.ActionLink(" ", "Details", new { @id = d.productosId }, new { @class = "icon-info text-info", @style = "margin-left:30%;" }));
            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Titled("EDITAR").RenderValueAs(d =>  @Html.ActionLink(" ", "Edit", new { @id = d.productosId}, new { @class = "icon-pencil text-warning", @style = "margin-left:30%;" }));
            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Titled("ELIMINAR").RenderValueAs(d => @Html.ActionLink(" ", "Delete", new { @id = d.productosId }, new { @class = "icon-trash text-danger swal-delete", @style = "margin-left:30%;" }));
  }).SetLanguage("ES").WithPaging(15).Sortable().Filterable().WithMultipleFilters()
    </div>
</div>
